# Define the Codespaces name for preview hosting.
# Example: VITE_CODESPACE_NAME=my-codespace-name
VITE_CODESPACE_NAME=

# When VITE_CODESPACE_NAME is unset, the frontend falls back to localhost:
# http://localhost:8000/api
